<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Map</title>
</head>
<body>
    <h1>Site Map</h1>
    <ul>
        <li><a href="{% url 'personal_website:index' %}">Home</a></li>
        <li><a href="{% url 'personal_website:contact' %}">Contact</a></li>
        <li><a href="{% url 'personal_website:returnkey' %}">ReturnKey</a></li>
        <li><a href="{% url 'personal_website:tokobox' %}">TokoBox</a></li>
        <li><a href="{% url 'personal_website:returnkey' %}">ReturnKey</a></li>
        <li><a href="{% url 'personal_website:sitemap' %}">Sitemap</a></li>
        <li><a href="{% url 'brokerage:index' %}">MyFinance50</a></li>
        <!-- Other links, as needed -->
    </ul>
</body>
</html>
