<!DOCTYPE html>
<html>
<head>
    <title>Test Phone Field</title>
</head>
<body>
    <form method='post'>
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!-- phone (country code and number) -->
        <div class="mb-3 row">
            <div class='col-sm-12'>
                {{ form.phone.label_tag }}
                <div class="d-flex">
                    {{ form.phone }}
                </div>
                {% if form.phone.errors %}
                    {% for error in form.phone.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- /phone (country code and number) -->

        <button type='submit' class='btn btn-primary'>Send</button>
    </form>
</body>
</html>
